@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-image: url(./assets/background-pixel.svg);
  min-height: 100vh;
  background-size: cover;
  background-position: top center;
  background-size: contain;
  overflow: hidden;
  position: relative;
  width: 100%;
  justify-content: center;
  z-index: -1;
}

.cabecalho {
  justify-content: space-between;
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;
  opacity: 0%;
  z-index: 10;
}

header div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 16px;
}

header h1 {
  color: white;
  border: none;
  background: none;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  margin-left: 16px;
  margin-right: 16px;
}

header img {
  width: 40px;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav h1 {
  display: none;
  color: white;
  border: none;
  background: none;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 200px;
}

nav #game-over {
  display: none;
  color: white;
  border: none;
  background: none;
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  margin-left: 16px;
  margin-right: 16px;
}

nav img {
  width: 410px;
  margin-top: 80px;
}

button {
  color: white;
  border: none;
  background: none;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  cursor: pointer;
  margin-top: 32px;
}

button span {
  color: transparent;
  border: none;
  background: none;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  cursor: pointer;
  margin-top: 32px;
}

button:hover span {
  color: red;
  border: none;
  background: none;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  cursor: pointer;
  margin-top: 32px;
}

nav .btn-new-game {
  display: none;
}

nav .btn-start {
  display: block;
}

nav .btn-continue {
  display: none;
}

footer #floor figure {
  width: 220%;

  position: absolute;
  bottom: 0px;
}

#floor-game {
  background-image: url(./assets/alone-footer.svg);
  background-repeat: repeat-x;
  height: 80px;

  animation: floor-animation 10s infinite linear;
}

.cloud-game {
  display: flex;
  position: absolute;
  width: 350px;
  margin-top: 110px;
  z-index: -1;

  animation: clouds-animation 30s infinite linear;
}

.jump-mario {
  animation: mario-animation 500ms ease-out;
}

.bomb-game {
  display: none;
  position: absolute;
  bottom: 80px;
  width: 100px;

  animation: bomb-animation 2s infinite linear;
}

.super-mario {
  display: flex;
  width: 150px;
  position: absolute;
  bottom: 80px;
  margin-left: 4%;
  margin-right: 96%;
}

.moeda-mario {
  display: none;
  position: absolute;
  bottom: 300px;
  width: 40px;

  animation: coin-animation 3s infinite linear;
}

@keyframes bomb-animation {
  from {
    right: -120px;
  }
  to {
    right: 100%;
  }
}

@keyframes coin-animation {
  from {
    right: -120px;
  }
  to {
    right: 100%;
  }
}

@keyframes floor-animation {
  from {
    right: -110%;
  }
  to {
    right: 0%;
  }
}

@keyframes clouds-animation {
  from {
    right: -350px;
  }
  to {
    right: 100%;
  }
}

@keyframes mario-animation {
  0% {
    bottom: 100px;
  }
  40% {
    bottom: 280px;
  }
  50% {
    bottom: 280px;
  }
  60% {
    bottom: 280px;
  }
  70% {
    bottom: 280px;
  }
  100% {
    bottom: 100px;
  }
}
